<?php
set_time_limit(0);
session_start();

define('_GANTRY_START', true);
define('_APP_ALONE', true);
define('_GANTRY', str_replace('\\', '/', pathinfo(__FILE__,PATHINFO_DIRNAME)).'/gantry');

$forced_exclusions = [];
$forced_exclusions[] = _GANTRY;

if (!file_exists('gantry.functions.php')) {
	die('could not load special functions');
}

include 'gantry.functions.php';

if (isset($_REQUEST['rtype']) && $_REQUEST['rtype'] == 'ajax') {

	extract($_REQUEST);
	if (!file_exists(_GANTRY)) {
		@mkdir(_GANTRY);
	}
	// $benchmark = $_SESSION['post']['datetime'];
	$project = pathinfo($root,PATHINFO_BASENAME);
	$rootcopy = _GANTRY.'/'.$project.' '.str_replace(':', '.', $benchmark).'/';

	$checks = explode(',', $checks);
	if (!empty($checks)) {
		foreach ($checks as $key => $value) {
			$destination = pathinfo(str_replace($root, $rootcopy, $value),PATHINFO_DIRNAME).'/';
			maker($destination);
			if (empty($value) || !is_dir($destination)) continue;
			copy($value, $destination.pathinfo($value,PATHINFO_BASENAME));
		}
	}
	die(json_encode(['status'=>1,'message'=>count($checks).' files copied successfully']));
}

if (isset($_REQUEST['submit'])) {
	$_SESSION['post'] = $_REQUEST;
	extract($_REQUEST);
	if (isset($folder) && !empty($folder)) {
		$foldername = trim($folder,'*');
		$exception_patterns = explode(',', $exception_patterns);
		array_merge($exception_patterns,$forced_exclusions);

		if (empty($datetime)) {
			$datetime = time()-1*60*60; //1 hour ago
		}else{
			$datetime = strtotime($datetime);
		}
		$listing = runner([], $folder, $datetime, $exception_patterns);
		// print_r($listing);
	}
}


$listing = (isset($listing)&&!empty($listing))?$listing:[];
$listing['files'] = (isset($listing['files'])&&!empty($listing['files']))?$listing['files']:[];
$listing['dir'] = (isset($listing['dir'])&&!empty($listing['dir']))?$listing['dir']:[];
?>